body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
    color: white;
    overflow-x: hidden;
    animation: fadeIn 3s ease-in-out;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 3em;
    color: #00d4ff;
    text-shadow: 0 0 10px #00d4ff;
    animation: slideInFromLeft 1s ease-in;
}

@keyframes slideInFromLeft {
    0% {transform: translateX(-100%);}
    100% {transform: translateX(0);}
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.privacy-section {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin: 50px;
    width: 100%;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    transition: all 0.3s ease;
    animation: slideUp 1s ease-in;
}

@keyframes slideUp {
    0% {transform: translateY(200px);}
    100% {transform: translateY(0);}
}

.description, .screenshot {
    flex: 1;
    padding: 20px;
}

.description h2 {
    font-size: 2em;
    text-shadow: 2px 2px 4px #000000;
}

.description p, .description li {
    font-size: 1.2em;
    line-height: 1.7em;
    text-shadow: 1px 1px 2px #000000;
}

.description ul {
    list-style: none;
}

.description li::before {
    content: "\f058";
    font-family: FontAwesome;
    padding-right: 10px;
}

.screenshot {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.screenshot img {
    max-width: 300px; 
    height: auto;  
    border-radius: 15px;
    box-shadow: 0 4px 14px 0 rgba(31, 38, 135, 0.37);
    transition: transform .5s ease;
    display: block;
    margin-bottom: 8px;
}


.screenshot img:hover {
    transform: scale(1.1);
}

.privacy-section:hover {
    box-shadow: 0 16px 64px rgba(31, 38, 135, 0.47);
    transform: scale(1.05);
}


.caption {
    color: #E63946;
    font-weight: bold;
    font-size: 1.1em;
    background-color: #F1FAEE;
    padding: 10px;
    border-radius: 5px; 
}

.screenshot p {
    background-color: rgba(0, 0, 0, 0.7); 
    color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
    display: inline-block; 
}

.hlink {
    position: relative;
    color: #ff9a8c; 
    text-decoration: none;
    transition: color 0.3s ease; 
}

.hlink::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #9affc3; 
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.hlink:hover {
    color: #9affc3; 
}

.hlink:hover::before {
    visibility: visible;
    width: 100%;
}


.footer {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 1em;
    backdrop-filter: blur(10px);
    box-shadow: 0 -8px 32px 0 rgba(31, 38, 135, 0.37);
    animation: slideUpFooter 1s ease-in;
  }
  
  @keyframes slideUpFooter {
    0% {transform: translateY(200px);}
    100% {transform: translateY(0);}
  }
  


  .disclaimer {
    padding: 30px;
    margin: 50px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    transition: all 0.3s ease;
    animation: slideUp 1s ease-in;
}

.disclaimer h2 {
    font-size: 2em;
    text-shadow: 2px 2px 4px #000000;
}

.disclaimer p {
    font-size: 1.2em;
    line-height: 1.7em;
    text-shadow: 1px 1px 2px #000000;
}
